.leaf {
	position: absolute;

	&__1 {
		display: none;

		@media (min-width: 768px) {
			display: block;
			left: 50px;
			top: 260px;
		}

		@media (min-width: 1200px) {
			left: 100px;
			top: 320px;
		}
	}

	&__2 {
		display: none;

		@media (min-width: 768px) {
			display: block;
			left: 60%;
			top: 200px;
		}

		@media (min-width: 1200px) {
			left: 60%;
			top: 230px;
		}
	}

	&__3 {
		display: none;

		@media (min-width: 768px) {
			display: block;
			right: 70px;
			top: 360px;
		}

		@media (min-width: 1200px) {
			right: 70px;
			top: 420px;
		}
	}

	&__4 {
		display: none;

		@media (min-width: 768px) {
			display: block;
			right: 20px;
			top: 500px;
		}

		@media (min-width: 1200px) {
			top: 70px;
			right: -350px;
		}
	}

	&__5 {
		z-index: 3;
		display: none;

		@media (min-width: 768px) {
			display: block;
			left: 60px;
			top: 650px;
		}

		@media (min-width: 1200px) {
			left: 150px;
			top: 650px;
		}
	}

	&__6 {
		display: none;

		@media (min-width: 1200px) {
			left: 150px;
			top: 190px;
			display: block;
		}
	}

	&__7 {
		display: none;

		@media (min-width: 768px) {
			display: block;
			right: 250px;
			top: 30px;
		}

		@media (min-width: 1200px) {
			right: 530px;
			top: 100px;
		}
	}

	&__8 {
		display: none;

		@media (min-width: 768px) {
			display: block;
			left: 50px;
			top: 180px;
		}

		@media (min-width: 1200px) {
			left: 150px;
			top: 190px;
		}
	}

	&__9 {
		display: none;

		@media (min-width: 768px) {
			display: block;
			right: 50px;
			top: 0;
		}

		@media (min-width: 1200px) {
			right: 165px;
			top: 20px;
		}
	}
}