.link{
	text-transform: uppercase;
	color: #212021;
	font-weight: bold;
		span{
			display: inline-block;
			padding-bottom: 5px;
			border-bottom: 2px solid #fff;
			transition: all 0.3s ease;
			@media (min-width: 768px){
				border-color: #212021;
			}
				&:hover{
					color: @hover-color;
					border-bottom: 2px solid @hover-color;
					&::after{
						border-color: @hover-color;
					}
				}
			&::after{
				display: inline-block;
				content: "";
				border: 1px solid #fff;
				width: 15px;
				margin-left: 7px;
				vertical-align: middle;
				@media (min-width: 768px){
					border-color: #212021;
				}
			}
		}
}