.about-me {
	padding-top: 60px;
	padding-bottom: 50px;
	position: relative;

	@media(min-width: 768px) {
		padding-top: 130px;
	}

	@media(min-width: 1200px) {
		padding-top: 180px;
	}

	&::before {
		display: none;
		content: "";
		position: absolute;
		left: 0;
		top: 280px;
		width: 345px;
		height: 340px;
		background-color: @bd-color;

		@media(min-width: 1200px) {
			display: block;
		}
	}

	&::after {
		z-index: 1;
		display: none;
		content: "";
		position: absolute;
		background-color: @bd-color;

		@media(min-width: 768px) {
			display: block;
			bottom: 220px;
			left: 0;
			right: 0;
			height: 315px;
		}

		@media(min-width: 1200px) {
			right: 165px;
			bottom: -35px;
			width: 645px;
			height: 480px;
		}

	}

	&__images {
		display: block;
		background-repeat: no-repeat;
		background-size: cover;

		@media(min-width: 768px) {
			// width: 316px;
			// height: 431px;
		}

		&--left {
			background-image: url("../images/mobile/photo-food-mobi-1.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			width: 163px;
			height: 306px;
			margin-right: 10px;

			@media(min-width: 768px) {
				background-image: url("../images/photo-food-1.jpg");
				width: 316px;
				height: 431px;
				margin-right: 40px;
			}
		}

		&--right {
			background-image: url("../images/mobile/photo-food-mobi-2.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			width: 141px;
			height: 306px;

			@media(min-width: 768px) {
				background-image: url("../images/photo-food-2.jpg");
				width: 316px;
				height: 431px;
			}
		}
	}

	h2 {
		.title-style-h2;
		margin-bottom: 100px;

		&::before {
			position: absolute;
			display: inline-block;
			content: "";
			left: 50%;
			right: 50%;
			top: 10px;
			height: 28px;
			border: 1px solid #cb98a8;

			@media(min-width: 768px) {
				top: 50px;
				height: 36px;
			}

			@media(min-width: 1200px) {
				top: 110px;
			}
		}
	}

	&__wrap {
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&__item {
		margin: 0;
		z-index: 2;
		// &::last-child{
		// 	margin: 0;
		// 	margin-right: 10px;
		// 	@media(min-width: 768px){
		// 		margin-right: 20px;
		// 	}
		// }

		&--text {
			display: block;
			z-index: 2;
			margin-top: 100px;
			padding: 0 40px;
			max-width: 340px;
			font-size: 18px;
			text-align: left;

			@media(min-width: 768px) {
				display: none;
			}

			@media(min-width: 1200px) {
				display: block;
			}

			p {
				margin-bottom: 40px;
			}

			ul {
				margin: 0;
				padding: 0;
				margin-bottom: 50px;

				li {
					margin: 0;
					list-style-type: none;
				}
			}
		}
	}

	.item-center {
		margin-top: 50px;
	}
}

.tablet__text {
	display: none;
	max-width: 305px;
	padding: 10px;

	@media(min-width: 768px) {
		display: block;
	}

	@media(min-width: 1200px) {
		display: none;
	}

	ul {
		margin: 0;
		padding: 0;
		padding-top: 10px;
		margin-bottom: 25px;

		li {
			margin: 0;
			list-style-type: none;
		}
	}
}