.contacts {
	padding-top: 180px;
	padding-bottom: 50px;
	position: relative;

	h2 {
		.title-style-h2;
		margin-bottom: 115px;

		&::before {
			position: absolute;
			display: inline-block;
			content: "";
			left: 50%;
			right: 50%;
			top: 110px;
			height: 36px;
			border: 1px solid #201518;
		}
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		flex-grow: 1;
		justify-content: center;
	}

	li {
		list-style-type: none;
		color: #7d7c7d;
		font-weight: bold;
	}

	&__link {
		margin: 0;
		font-size: 19px;
		margin-bottom: 75px;

		&--items {
			margin: 0;
			margin-right: 90px;

			&:last-child {
				margin-right: 0;
			}
		}

		a {
			.link-style;
			color: #7d7c7d;
		}

		span {
			color: @hover-color;
			display: inline-block;
			margin: 0 10px;
		}

	}

	&__social {
		margin-bottom: 190px;

		&--items {
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}