header{
	background-color: @bd-color;
	display: flex;
}
.header{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
		&__column{
			&--left{
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				flex-basis: auto;
			}
			&--right{
				flex-basis: 606px;
				position: relative;
					&::before{
						display: block;
						content: "";
						background-image: url('../images/header-2.jpg');
						background-repeat: no-repeat;
						background-size: cover;
						width: 345px;
						height: 535px;
						position: absolute;
						left: -172px;
						bottom: 88px;
						z-index: 2;
					}
					&::after{
						display: block;
						content: "";
						background-image: url('../images/line-1.png');
						background-repeat: no-repeat;
						background-size: cover;
						width: 625px;
						height: 652px;
						position: absolute;
						left: -77px;
						top: 100px;
						z-index: 1;
					}
			}
			&--content{
				flex-grow: 1;
				flex-basis: auto;
				text-align: left;
				padding-left: 154px;
				display: flex;
				flex-direction: column;
				justify-content: center;
					h1{
						margin: 0;
						margin-bottom: 30px;
						color: #212021;
						font-size: 48px;
						font-weight: 400;
					}
					p{
						margin: 0;
						margin-bottom: 40px;
						color: #212021;
						font-size: 20px;
						font-weight: 300;
					}
			}
		}
		&__images{
			&--big{
				flex-grow: 1;
				display: block;
				width: 100%;
			}
			// &--smal{
			// 	display: block;
			// 	width: 345px;
			// 	height: 535px;
			// 	position: absolute;
			// 	left: -172px;
			// 	bottom: 88px;
			// 	z-index: 2;
			// }
			// &--line{
			// 	display: block;
			// 	width: 625px;
			// 	height: 652px;
			// 	position: absolute;
			// 	left: -77px;
			// 	top: 100px;
			// 	z-index: 1;
			// }
		}
		&__navigation{
			display: flex;
			flex-direction: row;
			// align-items: center;
				ul{
					display: flex;
					align-self: center;
					flex-direction: row;
					justify-content: space-around;
					flex-grow: 1;
					flex-basis: auto;
					margin: 0;
					padding: 0;
						li{
							margin: 0;
							padding: 0;
							list-style-type: none;
						}
						a{	
							color: #9a999a;
							display: inline-block;
							font-size: 20px;
							font-weight: 400;
							.link-style;
						}
				}
		}
		&__logo{
			color: #ffffff;
			margin-right: 30px;
				&--text{
					display: inline-block;
					padding: 25px 40px;
					background-color: #3e3d42;
					background-image: linear-gradient(-23deg, #7e9b59 0%, #99b477 100%);
					text-transform: uppercase;
					color: #fff;
					font-family: "Source Serif Roman";
					font-size: 22px;
					font-weight: 400;
					letter-spacing: 4px;
				}
		}
		&__phone{
			position: absolute;
			font-size: 18px;
			color: #9a999a;
			top: 30px;
			left: 77px;
			.link-style;
		}
		&__social{
			display: flex;
			justify-content: center;
			margin-bottom: 35px;
			padding-left: 154px;
			display: flex;
			justify-content: flex-start;
				a{	
					display: inline-block;
					font-size: 14px;
					color: #a2a2a2;
					text-transform: uppercase;
					.link-style;
				}
				&--line{
					&::after{
					display: inline-block;
					content: "";
					border: 1px solid #a2a2a2;
					width: 7px;
					margin-left: 5px;
					margin-right: 5px;
					vertical-align: middle;
					}
				}	
		}
}