.header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	background-color: @bd-color;
	background-image: url('../images/mobile/food-background-mobile-1.png');
	background-repeat: no-repeat;
	// background-position: right top;
	background-size: cover;
	width: 100%;
	height: 480px;

	@media (min-width: 576px) {
		height: 640px;
	}

	@media (min-width: 768px) {
		background-image: url('../images/tablet/food-background-tablet-1.png');
		background-size: contain;
		background-position: right top;
		height: 820px;
	}

	@media (min-width: 992px) {
		// background-image: url('../images/food-background-2.png');
		// background-position: right top;
		// height: 780px;
	}

	@media (min-width: 1200px) {
		background-image: url('../images/food-background-2.png');
		height: 780px;
	}

	&__column {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		flex-basis: auto;

		&--content {
			flex-grow: 1;
			flex-basis: auto;
			text-align: left;
			padding-left: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			color: #fff;

			@media (min-width: 768px) {
				padding-left: 60px;
				color: #212021;
			}

			@media (min-width: 968px) {
				padding-left: 100px;
			}

			@media (min-width: 968px) {
				padding-left: 154px;
			}

			h1 {
				margin: 0;
				margin-bottom: 20px;
				font-size: 28px;
				font-weight: bold;

				@media (min-width: 576px) {
					font-size: 34px;
				}

				@media (min-width: 768px) {
					font-size: 36px;
					margin-bottom: 40px;
				}

				@media (min-width: 992px) {
					font-size: 48px;
					margin-bottom: 30px;
					font-weight: 400;
				}
			}

			p {
				margin: 0;
				margin-bottom: 40px;
				font-size: 14px;
				font-weight: 300;

				@media (min-width: 576px) {
					font-size: 16px;
				}

				@media (min-width: 768px) {
					font-size: 16px;
				}

				@media (min-width: 992px) {
					font-size: 20px;
				}
			}

			a {
				color: #FFF;

				@media (min-width: 768px) {
					color: #212021;
				}
			}
		}

		&--items {
			align-self: center;
		}
	}

	&__navigation {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		@media (min-width: 768px) {
			justify-content: flex-start;
		}

		ul {
			display: none;
			align-self: center;
			flex-direction: row;
			flex-wrap: wrap;
			flex-grow: 1;
			flex-basis: auto;
			margin: 0;
			padding: 0;

			@media (min-width: 1200px) {
				display: flex;
			}

			li {
				margin: 0;
				padding: 0;
				margin-right: 85px;
				list-style-type: none;

				&:last-child {
					margin-left: 80px;
					margin-right: 0;
				}
			}

			a {
				color: #9a999a;
				display: inline-block;
				font-size: 20px;
				font-weight: 400;
				.link-style;
			}
		}
	}

	&__logo {
		color: #ffffff;

		// margin-right: 85px;
		@media (min-width: 768px) {
			margin-right: 95px;
		}

		@media (min-width: 992px) {
			margin-right: 150px;
		}

		@media (min-width: 1200px) {
			margin-right: 85px;
		}

		&--text {
			display: inline-block;
			padding: 15px 30px;
			background-color: #3e3d42;
			background-image: linear-gradient(-23deg, #7e9b59 0%, #99b477 100%);
			text-transform: uppercase;
			color: #fff;
			font-family: "Source Serif Roman";
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 4px;

			@media (min-width: 768px) {
				font-size: 22px;
				padding: 25px 40px;
			}
		}
	}

	&__social {
		display: flex;
		justify-content: center;
		margin-bottom: 25px;
		display: flex;

		@media (min-width: 768px) {
			padding-left: 154px;
			justify-content: flex-start;
			margin-bottom: 30px;
		}

		a {
			display: inline-block;
			font-size: 14px;
			color: #fff;
			text-transform: uppercase;

			@media (min-width: 768px) {
				color: #a2a2a2;
			}

			.link-style;
		}

		&--line {
			&::after {
				display: inline-block;
				content: "";
				border: 1px solid #a2a2a2;
				width: 7px;
				margin-left: 5px;
				margin-right: 5px;
				vertical-align: middle;
			}
		}
	}
}

.menu__togle {
	display: block;
	position: relative;
	width: 20px;
	height: 0;
	border: 1px solid #fff;
	align-self: center;
	margin-right: 50px;
	cursor: pointer;

	@media (min-width: 768px) {
		border-color: #000;
	}

	@media (min-width: 1200px) {
		display: none;
	}

	&::before {
		position: absolute;
		top: -10px;
		left: -1px;
		display: block;
		content: "";
		width: 27px;
		border: 1px solid #fff;

		@media (min-width: 768px) {
			border-color: #000;
		}
	}

	&::after {
		position: absolute;
		top: 9px;
		left: -1px;
		display: block;
		content: "";
		width: 20px;
		border: 1px solid #fff;

		@media (min-width: 768px) {
			border-color: #000;
		}
	}

}