.portfolio {
	position: relative;
	padding-top: 135px;
	padding-bottom: 170px;

	@media (min-width: 768px) {
		padding-top: 260px;
		padding-bottom: 170px;
	}

	@media (min-width: 1200px) {
		padding-top: 285px;
		padding-bottom: 170px;
	}

	&::before {
		position: absolute;
		display: inline-block;
		content: "";
		left: 50%;
		right: 50%;
		top: 75px;
		height: 30px;
		border: 1px solid #cb98a8;

		@media(min-width: 768px) {
			top: 180px;
			height: 36px;
		}
	}

	h2 {
		// margin-top: 285px;
		margin: 0;
		margin-bottom: 55px;
		text-transform: uppercase;

		@media (min-width: 768px) {
			margin-bottom: 115px;
		}

		.title-style-h2;

	}

	&__wrap {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media (min-width: 768px) {
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding-bottom: 165px;
		}

		@media (min-width: 1200px) {
			padding-bottom: 90px;
		}

	}

	&__item {
		display: flex;
		// flex-wrap: wrap;
		flex-direction: column;
		margin: 0 15px;
		text-align: left;
		flex-basis: 290px;
		padding-bottom: 70px;

		&:last-child {
			padding-bottom: 0;
		}

		&--wrap {
			margin-left: 0;
			margin-right: 0;
			padding-bottom: 0;

			&:first-child {
				padding-bottom: 70px;

				@media (min-width: 768px) {
					padding-bottom: 35px;
				}

				@media (min-width: 992px) {
					padding-bottom: 50px;
				}

				@media (min-width: 1200px) {
					padding-bottom: 90px;
				}
			}
		}

		@media (min-width: 768px) {
			margin: 0 5px;
			flex-basis: 183px;
			// margin-bottom: 35px;
			padding-bottom: 0;
		}

		@media (min-width: 992px) {
			margin: 0 7px;
			flex-basis: 270px;
			// margin-bottom: 50px;
			// padding-bottom: 50px;
		}

		@media (min-width: 1200px) {
			margin: 0 15px;
			flex-basis: 315px;
			// margin-bottom: 90px;
			// padding-bottom: 90px;
		}

		span {
			font-size: 14px;
			color: #686868;
			margin-bottom: 5px;
		}

		@media (min-width: 992px) {
			margin-bottom: 10px;
		}

		img {
			margin-bottom: 20px;
			display: block;
			width: 100%;
		}

		@media (min-width: 992px) {
			margin-bottom: 30px;
		}

		a {
			font-size: 18px;
			font-weight: 600;

			@media (min-width: 768px) {
				font-size: 16px;
			}

			@media (min-width: 1200px) {
				font-size: 18px;
			}

			.link-style;
		}
	}

	&__detail {
		position: relative;
		max-width: 965px;
		display: flex;
		flex-direction: row;
		padding-top: 75px;
		padding-left: 50px;
		padding-bottom: 50px;

		@media (min-width: 768px) {
			background-color: @bd-color;
			justify-content: center;
			padding-left: 0;
		}

		@media (min-width: 1200px) {
			justify-content: flex-end;
		}

		&::before {
			position: absolute;
			left: 0;
			display: block;
			content: "";
			background-image: url("../images/mobile/food-background-mobile-2.png");
			background-repeat: no-repeat;
			background-size: cover;
			width: 320px;
			height: 388px;
			z-index: 2;

			@media(min-width: 576px) {
				background-image: url("../images/tablet/food-background-tablet-2.png");
				width: 96%;
				background-size: contain;
				height: 343px;
				top: 30px;
			}
			@media(min-width: 768px) {
				// background-image: url("../images/tablet/food-background-tablet-2.png");
				width: 702px;
				height: 343px;
				top: 30px;
			}

			@media(min-width: 1200px) {
				width: 1128px;
				height: 468px;
				background-image: url("../images/food-background-3.png");
			}
		}

		&--wrap {
			position: relative;
			width: 250px;
			margin-top: 50px;
			// margin-right: 75px;
			padding-top: 70px;
			text-align: left;
			z-index: 4;
			color: #fff;

			@media(min-width: 768px) {
				color: #000;
				margin: auto 0 0 80px;
			}

			h3 {
				font-size: 24px;
				margin-bottom: 20px;

				@media (min-width: 1200px) {
					margin-bottom: 25px;
				}
			}

			p {
				font-size: 16px;

				// margin-bottom: 45px;
				@media(min-width: 768px) {
					margin-bottom: 30px;
				}

				@media (min-width: 1200px) {
					font-size: 18px;
					margin-bottom: 45px;
				}
			}

			a {
				display: flex;
				align-items: center;
				color: #fff;

				@media(min-width: 768px) {
					color: #000;
				}

				img {
					margin-left: 20px;
				}
			}

		}

		&--img {
			position: absolute;
			z-index: 3;
			left: 0;
			display: block;


		}

	}
}

.big__food {

	// flex-basis: 245px;
	// max-width: 245px;
	@media (min-width: 992px) {
		flex-basis: 370px;
	}

	@media (min-width: 1200px) {
		flex-basis: 415px;
		// max-width: 415px;
	}
}