.price {
	padding-top: 180px;
	padding-bottom: 50px;
	position: relative;

	h2 {
		.title-style-h2;
		margin-bottom: 100px;

		&::before {
			position: absolute;
			display: inline-block;
			content: "";
			left: 50%;
			right: 50%;
			top: 110px;
			height: 36px;
			border: 1px solid #cb98a8;
		}
	}

	&__row {
		display: flex;
		// flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
		margin: 0 15px;

		img {
			margin-bottom: 35px;
			display: block;
			width: 100%;
		}

		&--header {
			display: flex;
			background-color: #fff;
			flex-direction: column;
			color: @hover-color;
			font-weight: bold;

			p {
				font-size: 24px;
				margin: 0;
				text-align: left;

				@media (min-width: 768px) {
					font-size: 16px;
					margin-left: 20px;
				}

				@media (min-width: 1200px) {
					margin-left: 55px;
				}
			}

			span {
				align-self: flex-end;
				display: flex;
				font-size: 18px;

				@media (min-width: 768px) {
					font-size: 16px;
					margin-right: 20px;
				}

				@media (min-width: 1200px) {
					margin-right: 55px;
				}

				&::before {
					display: inline-block;
					align-self: center;
					content: "";
					width: 10px;
					height: 0;
					margin-right: 10px;
					border: 1px solid @hover-color;
					vertical-align: center;

					@media (min-width: 768px) {
						// width: 20px;
					}

					@media (min-width: 1200px) {
						width: 20px;
					}
				}
			}

			&-big {
				p {
					margin-left: 85px;

					@media (min-width: 768px) {
						margin-left: 25px;
					}

					@media (min-width: 1200px) {
						margin-left: 85px;
					}
				}

				span {
					margin-right: 80px;

					@media (min-width: 768px) {
						margin-right: 25px;
					}

					@media (min-width: 1200px) {
						margin-right: 80px;
					}
				}
			}

		}

		&--footer {
			margin: 0 auto;
			text-align: center;
			font-size: 14px;
			// width: 255px;
			line-height: 20px;

			@media (min-width: 768px) {
				line-height: 20px;
				width: 180px;
			}

			@media (min-width: 1200px) {
				line-height: 22px;
				width: 255px;
				font-size: 18px;
			}

			&-big {
				// width: 290px;
				text-align: center;
				line-height: 20px;

				@media (min-width: 768px) {
					line-height: 20px;
					width: 210px;
				}

				@media (min-width: 1200px) {
					line-height: 22px;
					width: 290px;
				}
			}
		}

		&:nth-child(1) {
			max-width: 414px;

			@media (min-width: 768px) {
				max-width: 240px;
				margin-top: 100px;
			}

			@media (min-width: 1200px) {
				margin-top: 200px;
				max-width: 414px;
			}
		}

		&:nth-child(2) {
			max-width: 317px;

			@media (min-width: 768px) {
				max-width: 186px;
			}

			@media (min-width: 1200px) {
				max-width: 317px;
			}
		}

		&:nth-child(3) {
			max-width: 315px;

			@media (min-width: 768px) {
				margin-top: 100px;
				max-width: 181px;
			}

			@media (min-width: 1200px) {
				margin-top: 200px;
				max-width: 315px;
			}
		}
	}
}