
html{
	// font-size: 10px;
}
html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	min-width: 320px;
    // font-family: 'Exo 2.0', sans-serif;
}
a{
	cursor: pointer;
	color: #000;
	text-decoration: none;
}