@font-face {
	font-family: 'Exo 2.0';
	src: url('../fonts/Exo20-Regular.eot');
	src: local('Exo 2.0 Regular'), local('Exo2.0-Regular'),
		url('../fonts/Exo20-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Exo20-Regular.woff') format('woff'),
        url('../fonts/Exo20-Regular.ttf') format('truetype');
    font-display: swap;
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3eira1');
  src:  url('../fonts/icomoon.eot?3eira1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3eira1') format('truetype'),
    url('../fonts/icomoon.woff?3eira1') format('woff'),
    url('../fonts/icomoon.svg?3eira1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
