@bd-color: #f8f8f8;
@hover-color: #88a464;

.link-style(){
transition: all 0.3s ease;
	&:hover{
		color: @hover-color;
	}
}
.title-style-h2(){
	font-size: 18px;
	letter-spacing: 0.8px;
	font-weight: 400;
	text-align: center;
	@media (min-width: 768px){
		font-size: 26px;
	}
	@media (min-width: 1200px){
		font-size: 36px;
	}

}
// @media (min-width: 576px){}	col-sm
// @media (min-width: 768px){}	col-md
// @media (min-width: 992px){}	col-lg
// @media (min-width: 1200px){}	col-xl